.login {
    text-align: center;
    background-color: #282c34;
    display: flex; 
    font-size: calc(10px + 2vmin);
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    min-height: 100vh; 
    color: white;
    
  }
  .form {
    border-radius: 7%;
    position: relative;
    background: #20202094;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .btn{
      background-color: rgb(204, 202, 198);
      border-radius: 0.9rem;
  }

  .btn :hover{
    box-shadow: 0 0 20px 0 rgba(206, 0, 0, 0.3), 0 15px 15px 0 rgba(219, 2, 2, 0.24);
  }

  @media (max-width: 700px){
    .form{
      margin-block: 5%;
    }
  }